[data-theme='#{$theme_name}'] {
  /*------ 页面容器布局 Begin  ------*/
  .layout_container {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: $--background-color-base;
    display: flex;
    flex-direction: row;
    .layout_menu {
      width: $--layout-menu-width;
      height: 100%;
      background-color: $--layout-menu-bg; // TODO
    }
    .layout_content {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .layout_content_head {
      height: $--layout-header-height;
      background-color: $--layout-header-bg;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .layout_content_body {
      display: flex;
      flex-direction: column;
      flex: 1;
      .tabs_wrapper {
        height: $--history-tabs-height;
        background-color: $--history-tabs-bg-color;
      }
      .router_view {
        flex: 1;
        box-sizing: border-box;
        // background-color: $--color-primary-light; // TODO
        padding: 12px; // TODO
      }
      .router_view_body {
        background-color: #ffffff;
        height: 100%;
        overflow: auto;
      }
    }
  }
  /*------ 页面容器布局 End  ------*/

  /*------ 左侧菜样式 Begin  ------*/
  .aside-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .aside-logo {
      height: $--layout-header-height;
      line-height: $--layout-header-height;
      font-weight: 700;
    }
    .menu-vertical {
      flex: 1;
      width: 200px;
    }
  }
  /*------ 左侧菜样式 End  ------*/
}
